@media (max-width: 575.98px) {
}


@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


@media (min-width: 1200px) {
   
}

.card :hover {
    cursor: pointer;
}

.cardAvatar {
    max-height: 32px;
    max-width: 32px;
}

.cardInformation {
    display: flex;
    align-items: center;
}

.cardInformationText {
    margin-left: 10px;
}
